* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-xl: clamp(1.25rem, 1.25rem + 1.6vw, 4.5rem);
  --font-lg: clamp(0.9rem, 0.9rem + 0.7vw, 2.25rem);
  --font-md: clamp(1.15rem, 0.7rem + 0.45vw, 1.45rem);
  --font-sm: clamp(1rem, 0.55rem + 0.35vw, 1.25rem);
  --dot-bg: whitesmoke;
  --dot-color: gainsboro;
  --dot-space: clamp(0.875rem, 0.875rem + 0.5vw, 1.25rem);
  --dot-size: 2px;
  --gutter: 0.64rem;
}

html {
    height: 100%;
    margin: 0;
}

body {
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), 
    transparent 1%) center / var(--dot-space) var(--dot-space), 
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), 
    transparent 1%) center / var(--dot-space) var(--dot-space), var(--dot-color);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    padding: var(--gutter);
    max-width: 640px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    padding: var(--gutter);
    max-width: 640px;
}

.content {
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    margin: var(--gutter);
    padding: var(--gutter);
}

h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: var(--font-xl);
}

h2 {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: var(--font-lg);
    color: #555;
    line-height: 0.9;
    font-weight: 500;
}

.hero-img {
    width: 100%;
    object-fit: contain;
    margin: 20px 0px;
    align-self: center;
    pointer-events: none;
}

p {
    margin: 2rem 1rem 0.5rem 0rem;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: var(--font-sm);
    color: #2b2b2b
}

a {
    position: relative;
    font-family: "Stack Sans Notch", sans-serif;
    color: #555;
    text-decoration: none;
    font-size:  var(--font-md);
    padding: 0.5rem;
    width: 100%;
    text-align: left;
    margin: 0 0 1rem 0;
    background-color: whitesmoke;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow:
        4px 4px 8px rgba(0, 0, 0, 0.25),
        -4px -4px 3px rgba(255, 255, 255, 0.8),
        inset 0px 0px 0px whitesmoke,
        inset 0px 0px 0px whitesmoke;
    transition: box-shadow 150ms ease-in, transform 150ms ease-in;
}

a:hover {
    box-shadow:
    1.5px 1.5px 3px rgba(0, 0, 0, 0.25),
    -1px -1px 2px rgba(255, 255, 255, 0.8),
    inset 0px 0px 0px whitesmoke,
    inset 0px 0px 0px whitesmoke;
    transform: translateY(1px);
}

a:active {
    transition: box-shadow 50ms ease-out;
    box-shadow:
        1.5px 1.5px 3px rgba(0, 0, 0, 0.25),
        -1px -1px 2px rgba(255, 255, 255, 0.8),
        inset 2px 2px 4px rgba(155, 155, 155, 0.25),
        inset -4px -4px 8px rgba(255, 255, 255, 0.8);
}

a:focus-visible {
    outline: 3px solid darkturquoise;
    outline-offset: 2px;
    box-shadow:
    1.5px 1.5px 3px rgba(0, 0, 0, 0.25),
    -1px -1px 2px rgba(255, 255, 255, 0.8),
    inset 0px 0px 0px whitesmoke,
    inset 0px 0px 0px whitesmoke;
    transform: translateY(1px);
    background-color: rgba(255,255,255,0.3);
}

a:visited {
    color: #555;
}

a::after {
    content: '';
    position: absolute;
    right: var(--gutter);
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: grey;
    opacity: 0.35;
    transition: background 120ms, opacity 120ms, box-shadow 120ms
}

a:focus-visible::after,
a:hover::after {
    background: orangered;
    opacity: 0.9;
    box-shadow: 0 0 2px 1px rgba(255, 69, 0, 0.6);
}

.copyright {
    text-align: center;
}

.redText {
    color: orangered
}

.blueText {
    color: darkturquoise
}